.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

div.nav-bar {
  width: 100%;
  margin: 0;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .home-page-divider {
    display: none;
  }

  .column-half {
    width: 50%;
  }
}
