.container {
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  width: 100vw;
}

main > div.container {
  height: 100vh;
}

header > div.container {
  align-items: center;
}

.hidden {
  display: none;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
