.font {
  font-family: 'Righteous', cursive;
}

.white-text {
  color: #ededed;
}

header {
  background-color: #0067c6;
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

header a {
  text-decoration: none;
}

div.logo {
  width: min-content;
}

main {
  background-color: #ededed;
}

div.home-page {
  justify-content: center;
}

div.home-page button {
  background-color: white;
  width: 40%;
  aspect-ratio: 1 / 1;
  border: #0067c6 medium solid;
  border-radius: 10px;
  margin: 20px;
  outline: none;
  cursor: pointer;
  color: #0067c6;
  transition: color 0.3s, background-color 0.3s;
}

i {
  color: inherit;
  font-size: 200px;
}

div.home-page button:hover {
  background-color: #0067c6;
  color: white;
}
